body{
  height:90vh
}
main {
  height:90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main > div {
  height: 300px;
  display: flex;
  width: 90%;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.507);
}
main  div  form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main div form p{
  background-color:#014040;
  width: 90%;
  display: flex;
  margin: auto;
  height: 30px;
  align-items: center;
  justify-content: center;
}
main div form select{
  width: 50%;
  height: 97%;
  margin-top:2px;
  margin-bottom:2px;
}
main div form p label{
  width: 50%;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 3px black;
}
main div form p input{
  width: 50%;
  height: 80%;

}
main div form p input[type="submit"]{
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: 0px;
  color: white;
  font-weight: bolder;
  border: 1px solid white;
  background-color: #014040;
}
main div form p input[type="submit"]:hover{
  background-color: #012f2f;
}
footer{
  position:fixed;
  width:100%;
  bottom:0px;
}

